.light_mode {
    background-color: #fff;
    color: #333;
}
.dark-mode {
    background-color: #1a1919;
    color: #999;
}
.dark-mode .toolbar_headerMain{
    background-color: #1b2938;
}
.dark-mode .footer_main{
    background-color: #1b2938;
}
.toogle_btn{
    margin-top: 60px;
    padding: 10px;
    text-align: end;
}
.loader{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.scroll-to-top {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
    color: white;
    background-color:  rgba(8, 73, 158, 0.747);
    padding: 8px 0;
    margin: 80px 30px;
    text-align: center;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
